.btn.bookmark {
  background-color: white;
  border: 2px solid #ffcc00;
  color: #141000;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}

.btn.bookmark:hover {
  background-color: #ffcc00;
  border: 2px solid #ffcc00;
  color: #141000;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 10px;
}
