/* src/styles/HotelDetailPage.css */
.hotel-detail-page {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: start;
}
.hotel-filter {
  width: 100%;
  margin: 4rem 0 1.5rem;
}
.detail-header {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(8px);
  padding: 1.5rem;
  border-radius: 0.5rem;
  width: 100%;
  text-align: start;
  /* margin-bottom: 2rem; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.detail-header h1 {
  margin: 0;
  font-size: 1.75rem;
  color: #222;
}
.detail-header .address {
  margin-top: 0.5rem;
  font-size: 0.95rem;
  color: #555;
}
.detail-header .stars {
  margin-top: 0.3rem;
  color: #f59e0b;
  font-size: 1.1rem;
}
.room-list {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
  margin: auto;
}
.room-card {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  height: 45vh;
  display: flex;
  flex-direction: column;
}
.room-card img {
  width: 100%;
  object-fit: cover;
}
.room-card h3 {
  margin-left: 0.5rem;
  font-size: 1.1rem;
  color: #333;
}
.room-card p {
  color: #222;
}

.btn.book-room {
  background: #0077cc;
  color: #fff;
  border: none;
  padding: 0.75rem;
  /* margin: 0.5rem; */
  border-radius: 0.375rem;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
  font-size: 0.95rem;
}
.btn.book-room:hover {
  background: #005fa3;
}
.loading {
  text-align: center;
  margin-top: 4rem;
  font-size: 1.2rem;
  color: #555;
}

#hotel_image{
  height: 250px;
  width: 50%;
  object-fit: cover;
}

.accordion {
  width: 85%;
}

.carousel-div{
  min-height: 20vh;
}

#room_img{
  border-radius: 5px 5px 0  0;
}

.room-detail-box{
  min-height: 10vh;
}

.overflow-hidden{
  max-height: 8vh;
}
.filter-label{
  font-size: 13px;
}
